extends layout.pug

block initial_content
  div(class="h-screen w-screen flex flex-col items-center")
    div(class="w-full h-14 bg-sky-500 flex justify-end items-center px-3 shadow-md sticky top-0")
      a(class="flex justify-between items-center gap-2 text-white text-lg" href="/logout")
        i(class="fa-solid fa-right-from-bracket")
        h1 Cerrar Sesión
    block content