mixin anchorIconButton(icon, link, text="", bgColor="hover:bg-sky-600 active:bg-sky-700")
  a(class=`flex justify-between items-center gap-2 text-white text-lg h-full ${bgColor} px-2` href=link)
    i(class=icon)
    if text != ""
      p= text