mixin navbarAnchor(icon, link, navbarId)
  a(class="flex justify-center items-center text-white text-lg rounded-full w-9 h-9 hover:bg-sky-600 active:bg-sky-700" href=link, id=navbarId)
    i(class=icon)